<h1>Public::Locals#edit</h1>
<p>Find me in app/views/public/locals/edit.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= form_for @local do |f| %>
        <%= attachment_image_tag @local, :local_image, fallback: "no-image.png", :size => "200x200" %>
        <%= f.attachment_field :local_image %>
        <div class="field">
          <%= f.label :性 %>
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        </div>
        <div class="field">
          <%= f.label :名 %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>
        <div class="field">
          <%= f.label :ユーザーネーム %>
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
        </div>
        <div class="field">
          <%= f.label :ショップ %>
          <%= f.collection_select :shop_id, Shop.all, :id, :name , :prompt => "select" %>
        </div>
        <div class="field">
          <%= f.label :レベル %>
          <%= f.select :level, User.levels.keys, {} %>
        </div>
        <div class="actions">
          <%= f.submit "変更する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>