<h1>Public::Locals#show</h1>
<p>Find me in app/views/public/locals/show.html.erb</p>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>プロフィール</h1>
			<table>
				<thead>
					<tr>
					<th>ユーザーネーム</th>
					<th>性 名</th>
					<th>メールアドレス</th>
					<th>レベル</th>
					<th>有効</th>
					<th>id</th>
					<th>ショップ</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<p><%= @local.user_name %></p>
							<p><%= attachment_image_tag @local, :local_image, fallback: "no-image.png", :size => "70x70" %></p>
						</td>
						<td><%= @local.last_name %> <%= @local.first_name %></td>
						<td><%= @local.email %></td>
						<td><%= @local.level %></td>
						<td><%= @local.is_active %></td>
						<td><%= @local.id %></td>
						<td><%= @local.shop.name %></td>
					</tr>
				</tbody>
			</table>
			<%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary" %>
			<%= link_to "退会する", users_confirm_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>