<div class="local-background">
  <div class="local-form-background">
    <div class="signup-form">
      <h2><strong>サインアップ</strong></h2>
      <p>
        既にご登録済みの方は  
        <%- if controller_name != 'sessions' %>
          <%= link_to "コチラ", new_session_path(resource_name) %><br />
        <% end %>
      </p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "locals/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <th><%= f.label :性 %></th>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
          </tr>
          <tr>
            <th><%= f.label :名 %></th>
            <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
          </tr>
          <tr>
            <th><%= f.label :ユーザーネーム %></th>
            <td><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %></td>
          </tr>
          <tr>
            <th><%= f.label :所属ショップ %></th>
            <td><%= f.collection_select(:shop_id, Shop.all, :id, :name , {prompt: "select"}, {class: "level"}) %></td>
          </tr>
          <tr>
            <th><%= f.label :レベル %></th>
            <td><%= f.select :level, User.levels.keys, {}, {class: "level"} %></td>
          </tr>
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>
              <%= f.label :パスワード %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
            </th>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
          </tr>
          <tr>
            <th><%= f.label :パスワード（確認用）%></th>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>
        </table>
        <div class="actions">
        <%= f.submit "サインアップ", class: "btn btn-primary submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>