<div class="admin-shop-new container">
	<h3 class="title">ショップ新規登録</h3>
	<div class="form row">
		<%= form_for @shop, url: admin_shops_path do |f| %>
		<div class="form-detail col-sm-6">
			<table>
				<tr>
					<th><%= f.label :エリア %></th>
					<td><%= f.collection_select :area_id, Area.all, :id, :name, :prompt => "select" %></td>
				</tr>
				<tr>
					<th><%= f.label :ショップ名 %></th>
					<td><%= f.text_field :name %></td>
				</tr>
				<tr>
					<th><%= f.label :住所 %></th>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<th><%= f.label :電話番号 %></th>
					<td><%= f.text_field :phone_number %></td>
				</tr>
				<tr>
					<th><%= f.label :メールアドレス %></th>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<th><%= f.label :概要　%></th>
					<td><%= f.text_area :about %></td>
				</tr>
			</table>
		</div>
		<div class="form-image col-sm-6">
			<%= attachment_image_tag @shop, :shop_image, fallback: "no-image.png", :size => "300x300" %>
			<%= f.attachment_field :shop_image %>
		</div>
			<%= f.submit "新規登録", class: "btn btn-primary submit-btn" %>
		<% end %>
	</div>
</div>