<h1>Admin::Locals#edit</h1>
<p>Find me in app/views/admin/locals/edit.html.erb</p>

<h4> ID : <%= @local.id %><%= @local.user_name %>さんのステータスを変更します</h4>

<%= form_for @local, url: admin_local_path(@local) do |f| %>

<%= f.label :ステータス %><br />
<%= f.radio_button :is_active, "true" %>有効
<%= f.radio_button :is_active, "false" %>退会

<%= f.submit "変更する", "data-confirm" => "本当に変更しますか？", class: "btn btn-danger" %>
<% end %>