<div class="shop-index container">
	<div class="row">
		<div class="area-box col-sm-3">
			<%= link_to "一覧", shops_path, class: "btn btn-info btn-block area-btn" %>
			<% @areas.each do |area| %>
				<p><%= link_to area.name, shops_path(@shop, area_id: area.id), class: "btn btn-default area-btn" %></p>
			<% end %>
		</div>
		<div class="col-sm-9">
			<% if @area != nil %>
				<% @area.shops.each do |shop| %>
					<div class=shop-container>
						<%= link_to shop_path(shop) do %>
							<%= attachment_image_tag shop, :shop_image, fallback: "no-image.png", :size => "240x200", class: "shop-image" %>
						<% end %>
						<div class="shop-detail">
							<h4><%= shop.name %> (<%= shop.area.name %>)</h4>
							<%= shop.about %>
						</div>
					</div>
				<% end %>
			<% else %>
				<% @shops.each do |shop| %>
					<div class=shop-container>
						<%= link_to shop_path(shop) do %>
							<%= attachment_image_tag shop, :shop_image, fallback: "no-image.png", :size => "240x200", class: "shop-image" %>
						<% end %>
						<div class="shop-detail">
							<h4><%= shop.name %> (<%= shop.area.name %>)</h4>
							<%= shop.about %><br>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>