<h1>Admin::Top#top</h1>
<p>Find me in app/views/admin/top/top.html.erb</p>

<%= link_to "ユーザー", admin_users_path %>
<%= link_to "波情報", admin_reports_path %>
<%= link_to "波予報", admin_forecasts_path %>
<%= link_to "ショップ", admin_shops_path %>
<%= link_to "スポット", admin_spots_path %>
<%= link_to "エリア", admin_areas_path %>