<div class="forecast-new container">
  <div class="row">
  	<h1 class="title">新規波予報</h1>
    <div class="forecast-new-form col-sm-8">
			<%= form_for @forecast do |f| %>
				<div class="report-new-detail">
					<table>
						<tr>
							<th><%= f.label :評価 %></th>
							<td>
								<div id="star">
									<%= f.hidden_field :rate, id: :review_star %>
								</div>
							</td>
						</tr>
						<script>
							$('#star').raty({
								size      : 50,
								starOff   : '<%= asset_path('stars/star-off.png') %>',
								starOn    : '<%= asset_path('stars/star-on.png') %>',
								starHalf  : '<%= asset_path('stars/star-half.png') %>',
								scoreName : 'forecast[rate]',
								half      : true,
							});
						</script>
						<tr>
							<th><%= f.label :予測日 %></th>
							<td><%= f.text_field :date, value:@tomorrow %></td>
						</tr>
						<tr>
							<th><%= f.label :スポット %></th>
							<td><%= f.collection_select(:spot_id, Spot.all, :id, :name, {prompt: "select"}, {class: "form"}) %></td>
						</tr>
						<tr>
							<th><%= f.label :サイズ %></th>
							<td><%= f.select :size, Forecast.sizes.keys, {}, class: "form" %></td>
						</tr>
						<tr>
							<th><%= f.label :日の出 %></th>
							<td><%= f.time_field :sunrise %></td>
						</tr>
						<tr>
							<th><%= f.label :日の入り %></th>
							<td><%= f.time_field :sunset %></td>
						</tr>
						<tr>
							<th><%= f.label :風（m） %></th>
							<td><%= f.number_field :wind, step: "0.1", class: "form" %></td>
						</tr>
						<tr>
							<th><%= f.label :気温（℃） %></th>
							<td><%= f.number_field :temperature, step: "0.1", class: "form" %></td>
						</tr>
						<tr>
							<th><%= f.label :水温（℃） %></th>
							<td><%= f.number_field :water_temperature, step: "0.1", class: "form" %></td>
						</tr>
						<tr>
							<th><%= f.label :詳細 %></th>
							<td><%= f.text_area :review, class: "review-form" %></td>
						</tr>
						<tr>
							<td><%= f.hidden_field :local_id, value:current_local.id %></td>
						</tr>
					</table>
						<%= f.submit "投稿する", class: "btn btn-primary submit-btn" %>
				</div>
			<% end %>
		</div>

		<div class="side-bar col-sm-4">
			<div class="weather-box">
				<h4>ー明日(<%= Date.tomorrow.strftime("%m/%d") %>)の天気ー</h4>
				<%= form_with url: new_forecast_path, method: :get, local: true do |f| %>
			    <%= f.text_field :city_name, placeholder: "市町村名" %>
			    <%= f.submit "検索" %>
			  <% end %>
				<% if @city != nil %>
					<h4 class="city-name"><%= @city %>の天気</h4>
					<table class="sun-box">
						<% sunrise = @sunrise + @timezone %>
						<tr>
							<th>日の出</th>
							<td><%= Time.at(sunrise).strftime("%H:%M") %></td>
						</tr>
						<% sunset = @sunset + @timezone %>
						<tr>
							<th>日の入</th>
							<td><%= Time.at(sunset).strftime("%H:%M") %></td>
						</tr>
					</table>
					<table>
						<tr class="time-box"><th class="time">AM 6:00</th><td></td></tr>
						<tr><th>気温</th><td><%= @temp %> ℃</td></tr>
						<tr><th>天気</th><td><%= @description %></td></tr>
						<tr><th>風</th><td><%= @wind %> m/s</td></tr>
						<tr><th>風向き</th><td><%= render "public/forecasts/new-windDeg", wind_deg: @wind_deg %></td></tr>
						<tr class="time-box"><th class="time">PM 0:00</th><td></td></tr>
						<tr><th>気温</th><td><%= @temp2 %> ℃</td></tr>
						<tr><th>天気</th><td><%= @description2 %></td></tr>
						<tr><th>風</th><td><%= @wind2 %> m/s</td></tr>
						<tr><th>風向き</th><td><%= render "public/forecasts/new-windDeg", wind_deg: @wind_deg2 %></td></tr>
						<tr class="time-box"><th class="time">PM 6:00</th><td></td></tr>
						<tr><th>気温</th><td><%= @temp3 %> ℃</td></tr>
						<tr><th>天気</th><td><%= @description3 %></td></tr>
						<tr><th>風</th><td><%= @wind3 %> m/s</td></p>
						<tr><th>風向き</th><td><%= render "public/forecasts/new-windDeg", wind_deg: @wind_deg3 %></td></tr>
					</table>
				<% else %>
					<table class="sun-box">
						<tr>
							<th>日の出</th>
						</tr>
						<tr>
							<th>日の入</th>
						</tr>
					</table>
					<table>
						<tr class="time-box"><th class="time">AM 6:00</th><td></td></tr>
						<tr><th>気温</th></tr>
						<tr><th>天気</th></tr>
						<tr><th>風</th></tr>
						<tr><th>風向き</th></tr>
						<tr class="time-box"><th class="time">PM 0:00</th><td></td></tr>
						<tr><th>気温</th></tr>
						<tr><th>天気</th></tr>
						<tr><th>風</th></tr>
						<tr><th>風向き</th></tr>
						<tr class="time-box"><th class="time">PM 6:00</th><td></td></tr>
						<tr><th>気温</th></tr>
						<tr><th>天気</th></tr>
						<tr><th>風</th></p>
						<tr><th>風向き</th></tr>
					</table>
				<% end %>
			</div>
		</div>

	</div>
</div>