<div class="forecast-show container">
	<div class="row">
		<div class="col-sm-12">

			<div class="forecast-top">

				<div class="image-top">
					<%= attachment_image_tag @forecast.local, :local_image, fallback: "no-image.png", :size => "50x50", class: "local-image" %>
					<h4>
						<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
						<%= @forecast.spot.name %>
					</h4>
				</div>

				<div>
					<%= attachment_image_tag @forecast.spot, :spot_image, fallback: "no-image.png", class: "forecast-show-image" %>
				</div>
				<div>
					<span id="star-rate-<%= @forecast.id %>"></span>
				</div>
							<script>
								$('#star-rate-<%= @forecast.id %>').raty({
								size      : 50,
								number    : 5,
								starOff   : '<%= asset_path('stars/star-off.png') %>',
								starOn    : '<%= asset_path('stars/star-on.png') %>',
								starHalf  : '<%= asset_path('stars/star-half.png') %>',
								half      : true,
								readOnly  : true,
								score     : <%= @forecast.rate %>,
								});
							</script>
			</div>

			<div class="forecast-detail">

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="size"></p>
						<p>サイズ</p>
					</div>
					<h3><%= @forecast.size %></h3>
				</div>

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="sunrise"></p>
						<p>日の出</p>
					</div>
					<h3><%= @forecast.sunrise.strftime('%H:%M') %></h3>
				</div>

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="sunset"></p>
						<p>日の入</p>
					</div>
					<h3><%= @forecast.sunset.strftime('%H:%M') %></h3>
				</div>

			</div>

			<div class="forecast-weather">

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="wind"></p>
						<p>風</p>
						</div>
					<h3><%= @forecast.wind %> m/s</h3>
				</div>

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="temperature"></p>
						<p>気温</p>
					</div>
					<h3><%= @forecast.temperature %> ℃</h3>
				</div>

				<div class="forecast-detail-box">
					<div class="forecast-detail-title">
						<p class="water_temperature"></p>
						<p>水温</p>
					</div>
					<h3><%= @forecast.water_temperature %> ℃</h3>
				</div>

			</div>

				<h2><%= @forecast.date %>の波予想</h2>
				<p><%= @forecast.review %></p>

		</div>
	</div>
</div>