<h1>Admin::Reports#index</h1>
<p>Find me in app/views/admin/reports/index.html.erb</p>
<div class="admin-report-index container">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="title">波情報一覧</h3>
			<table>
				<thead>
					<tr>
						<th>ユーザー</th>
						<th>スポット</th>
						<th>評価</th>
						<th class="review">レビュー</th>
						<th>入水時間</th>
						<th>詳細</th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
					<tr>
						<td><p><%= attachment_image_tag report.user, :user_image, fallback: "no-profile-img.png", :size => "50x50", class: "admin-user-img" %></p><p><%= report.user.user_name %></p><p>(<%= report.board %>)</p></td>
						<td><p><%= attachment_image_tag report, :report_image, fallback: "no-image.png", :size => "100x100" %></p><p><%= report.spot.name %><p></td>
						<td><p><%= report.size %></p><div id="star-rate-<%= report.id %>"></div>
							<script>
								$('#star-rate-<%= report.id %>').raty({
									size      : 50,
									starOff   : '<%= asset_path('star-off.png') %>',
									starOn    : '<%= asset_path('star-on.png') %>',
									starHalf  : '<%= asset_path('star-half.png') %>',
									half      : true,
									readOnly  : true,
									score     : <%= report.rate %>,
								});
							</script>
						</td>
						<td><%= report.review %></td>
						<td><%= report.time.strftime('%H:%M') %></td>
						<td>
							<p>風 : <%= report.wind %></p>
							<p>気温 : <%= report.temperature %></p>
							<p>水温 : <%= report.water_temperature %></p>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>