<div class="admin-report-index container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="title">波情報一覧</h1>
			<table>
				<thead>
					<tr>
						<th>ユーザー</th>
						<th>スポット</th>
						<th>評価</th>
						<th class="review">レビュー</th>
						<th>詳細</th>
						<th class="delete"></th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
					<tr>
						<td><p><%= attachment_image_tag report.user, :user_image, fallback: "no-profile-img.png", :size => "50x50", class: "admin-user-img" %></p><p><%= report.user.user_name %></p><p>(<%= report.board %>)</p></td>
						<td><p><%= attachment_image_tag report, :report_image, fallback: "no-image.png", :size => "100x100" %></p><p><%= report.spot.name %><p></td>
						<td><p><%= report.size %></p><div id="star-rate-<%= report.id %>"></div>
							<script>
								$('#star-rate-<%= report.id %>').raty({
									size      : 50,
									starOff   : '<%= asset_path('stars/star-off.png') %>',
									starOn    : '<%= asset_path('stars/star-on.png') %>',
									starHalf  : '<%= asset_path('stars/star-half.png') %>',
									half      : true,
									readOnly  : true,
									score     : <%= report.rate %>,
								});
							</script>
						</td>
						<td><%= report.review %></td>
						<td>
							<p>入水時間 : <%= report.time.strftime('%H:%M') %></p>
							<p>風 : <%= report.wind %></p>
							<p>気温 : <%= report.temperature %></p>
							<p>水温 : <%= report.water_temperature %></p>
						</td>
						<td>
							<%= link_to "削除する", report_path(report), method: :delete, data: { confirm: '本当に削除しますか？' } %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>