<div class="weather-box">
	<h4>明日(<%= Date.tomorrow.strftime("%m/%d") %>)の天気</h4>
	<%= form_with url: root_path, method: :get, local: true do |f| %>
    <% f.text_field :city_name, placeholder: "市町村名" %>
  <% end %>
	<% if @city != nil %>
		<h4 class="city-name"><%= @city %>の天気</h4>
		<table>
			<tr class="time-box"><th class="time">AM 6:00</th><td></td></tr>
			<tr><th>気温</th><td><%= @temp %> ℃</td></tr>
			<tr><th>天気</th><td><%= @description %></td></tr>
			<tr><th>風</th><td><%= @wind %> m/s</td></tr>
			<tr><th>風向き</th><td><%= render "public/top/top-windDeg", wind_deg: @wind_deg %></td></tr>
			<tr class="time-box"><th class="time">PM 0:00</th><td></td></tr>
			<tr><th>気温</th><td><%= @temp2 %> ℃</td></tr>
			<tr><th>天気</th><td><%= @description2 %></td></tr>
			<tr><th>風</th><td><%= @wind2 %> m/s</td></tr>
			<tr><th>風向き</th><td><%= render "public/top/top-windDeg", wind_deg: @wind_deg2 %></td></tr>
			<tr class="time-box"><th class="time">PM 6:00</th><td></td></tr>
			<tr><th>気温</th><td><%= @temp3 %> ℃</td></tr>
			<tr><th>天気</th><td><%= @description3 %></td></tr>
			<tr><th>風</th><td><%= @wind3 %> m/s</td></p>
			<tr><th>風向き</th><td><%= render "public/top/top-windDeg", wind_deg: @wind_deg3 %></td></tr>
		</table>
	<% else %>
		<table>
			<tr class="time-box"><th class="time">AM 6:00</th><td></td></tr>
			<tr><th>気温</th></tr>
			<tr><th>天気</th></tr>
			<tr><th>風</th></tr>
			<tr><th>風向き</th></tr>
			<tr class="time-box"><th class="time">PM 0:00</th><td></td></tr>
			<tr><th>気温</th></tr>
			<tr><th>天気</th></tr>
			<tr><th>風</th></tr>
			<tr><th>風向き</th></tr>
			<tr class="time-box"><th class="time">PM 6:00</th><td></td></tr>
			<tr><th>気温</th></tr>
			<tr><th>天気</th></tr>
			<tr><th>風</th></p>
			<tr><th>風向き</th></tr>
		</table>
	<% end %>
</div>