<h2 class="public-title">波情報</h2>
<div class="public-report-box">
	<span class="box-title">Reports</span>
	<ul>
		<% @reports.each do |report| %>
			<li class="public-report">
				<%= attachment_image_tag report, :report_image, fallback: "no-image.png", :size => "200x200", class: "report-image" %>
				<div class="report-detail">
					<div><%= report.spot.name %></div>
					<div id="star-rate-<%= report.id %>"></div>
					<script>
						$('#star-rate-<%= report.id %>').raty({
							size      : 36,
							number    : 5,
							starOff   : '<%= asset_path('stars/star-off.png') %>',
							starOn    : '<%= asset_path('stars/star-on.png') %>',
							starHalf  : '<%= asset_path('stars/star-half.png') %>',
							half      : true,
							readOnly  : true,
							score     : <%= report.rate %>,
						});
					</script>
				</div>
			</li>
		<% end %>
	</ul>
</div>

<h2 class="public-title">波予報</h2>
<div class="public-forecast-box">
	<span class="box-title">Forecasts</span>
	<ul>
		<% @forecasts.each do |forecast| %>
			<li class="public-forecast">
				<%= attachment_image_tag forecast.spot, :spot_image, fallback: "no-image.png", :size => "200x200", class: "forecast-image" %>
				<div class="report-detail">
					<div><%= forecast.spot.name %></div>
					<div id="star-rate2-<%= forecast.id %>"></div>
					<script>
						$('#star-rate2-<%= forecast.id %>').raty({
							size      : 36,
							numberMux : 5,
							starOff   : '<%= asset_path('stars/star-off.png') %>',
							starOn    : '<%= asset_path('stars/star-on.png') %>',
							starHalf  : '<%= asset_path('stars/star-half.png') %>',
							half      : true,
							readOnly  : true,
							score     : <%= forecast.rate %>,
						});
					</script>
				</div>
			</li>
		<% end %>
	</ul>
</div>


<h2 class="public-title">ショップ</h2>
<div class="public-shop-container">
	<% @shops.each do |shop| %>
		<div class="public-shop-box">
			<%= attachment_image_tag shop, :shop_image, fallback: "no-image.png", class: "public-shop-image" %>
			<div class="public-shop-name">
				<h4><%= shop.name %> (<%= shop.area.name %>)</h4>
			</div>
		</div>
	<% end %>
</div>