<h1>Public::Top#top</h1>
<p>Find me in app/views/public/top/top.html.erb</p>
<div class="container"><div class="row"><div class="col-sm-8">
<h3>波情報一覧</h3>
<table>
	<thead>
		<tr>
			<th>投稿写真</th>
			<th>ユーザー</th>
			<th>スポット</th>
			<th>波評価</th>
			<th>波の大きさ</th>
			<th>レビュー</th>
			<th>使用板</th>
			<th>入水時間</th>
			<th>風</th>
			<th>気温</th>
			<th>水温</th>
		</tr>
	</thead>
	<tbody>
		<% @reports.each do |report| %>
		<tr>
			<td><%= attachment_image_tag report, :report_image, fallback: "no-image.png", :size => "100x100" %></td>
			<td><%= report.user.user_name %></td>
			<td><%= report.spot.name %></td>
			<td><div id="star-rate-<%= report.id %>"></div>
				<script>
					$('#star-rate-<%= report.id %>').raty({
						size      : 50,
						starOff   : '<%= asset_path('star-off.png') %>',
						starOn    : '<%= asset_path('star-on.png') %>',
						starHalf  : '<%= asset_path('star-half.png') %>',
						half      : true,
						readOnly  : true,
						score     : <%= report.rate %>,
					});
				</script>
			</td>
			<td><%= report.size %></td>
			<td><%= report.review %></td>
			<td><%= report.board %></td>
			<td><%= report.time.strftime('%H:%M') %></td>
			<td><%= report.wind %></td>
			<td><%= report.temperature %></td>
			<td><%= report.water_temperature %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="col-sm-4">
<h3>波予報一覧</h3>
<% @forecasts.each do |forecast| %>
	<table>
		<tr>
			<th>ユーザーネーム</th>
			<td colspan="4"><%= forecast.local.user_name %></td>
		</tr>
		<tr>
			<th>スポット名</th>
			<td colspan="4"><%= forecast.spot.name %></td>
		</tr>
		<tr>
			<th>評価</th>
			<td colspan="4"><div id="star-rate2-<%= forecast.id %>"></div>
			<script>
				$('#star-rate2-<%= forecast.id %>').raty({
					size      : 50,
					starOff   : '<%= asset_path('star-off.png') %>',
					starOn    : '<%= asset_path('star-on.png') %>',
					starHalf  : '<%= asset_path('star-half.png') %>',
					half      : true,
					readOnly  : true,
					score     : <%= forecast.rate %>,
				});
			</script></td>
		</tr>
		<tr><th>サイズ</th><td colspan="4"><%= forecast.size %></td></tr>
		<tr><th>日付</th><td colspan="4"><%= forecast.date %></td></tr>
		<tr><th>詳細</th><td colspan="4"><%= forecast.review %></td></tr>
		<tr>
			<th>日の出</th>	<td colspan="2"><%= forecast.sunset.strftime('%H:%M') %></td>
			<th>日没</th><td colspan="2"><%= forecast.sunset.strftime('%H:%M') %></td>
		</tr>
		<tr>
			<th>風</th><td><%= forecast.wind %></td>
			<th>気温</th><td><%= forecast.temperature %></td>
			<th>水温</th><td><%= forecast.water_temperature %></td>
		</tr>
	</table>
<% end %>
</div></div></div>
