<div class="spot-index container">
	<div class="row">
		<div class="area-box col-sm-3">
			<% @areas.each do |area| %>
				<%= link_to area.name, spots_path(@spot, area_id: area.id), class: "btn btn-default area-btn" %>
			<% end %><br>
		</div>
		<div class="col-sm-9">
			<% if @area != nil %>
				<h2><%= @area.name %>のスポット</h2>
				<div class="spot-index-box">
					<% @area.spots.each do |spot| %>
						<div class="spot-container">
							<%= attachment_image_tag spot, :spot_image, fallback: "no-image.png", :size => "200x160", class: "spot-image" %><br>
							<div class="spot-detail">
								<%= spot.name %><br>
								<%= spot.address %><br>
								<%= spot.feature %><br>
								<%= spot.parking %><br>
							</div>
						</div>
					<% end %>
				</div>
			<% else %>
				<h2>スポット</h2>
				<div class="spot-index-box">
					<% @spots.each do |spot| %>
						<div class="spot-container">
							<%= attachment_image_tag spot, :spot_image, fallback: "no-image.png", :size => "200x160", class: "spot-image" %><br>
							<div class="spot-detail">
								<%= spot.name %><br>
								<%= spot.address %><br>
								<%= spot.feature %><br>
								<%= spot.parking %><br>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>