<h1>Admin::Spots#index</h1>
<p>Find me in app/views/admin/spots/index.html.erb</p>
<div class="admin-spot-index container">
	<div class="row">
		<div class="col-sm-9">
			<h3 class="title">サーフスポット一覧</h3>
			<div class="main">
				<div class="content">
					<% @spots.each do |spot| %>
						<div>
							<%= attachment_image_tag spot, :spot_image, fallback: "no-image.png", :size => "100x100" %><br>
							<%= spot.area.name %> / <%= spot.name%><br>
							<%= spot.address %><br>
							<%= spot.feature %><br>
							<%= spot.parking %><br>
						</div>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<h4 class="title">サーフスポット新規登録</h4>
			<%= form_for @spot, url: admin_spots_path do |f| %>
				<%= attachment_image_tag @spot, :spot_image, fallback: "no-image.png", :size => "100x100" %><br>
				<%= f.attachment_field :spot_image %><br>
				<%= f.label :エリア %>
				<%= f.collection_select :area_id, Area.all, :id, :name, :prompt => "select" %><br>
				<%= f.label :スポット名 %>
				<%= f.text_field :name %><br>
				<%= f.label :住所 %>
				<%= f.text_field :address %><br>
				<%= f.label :地形 %>
				<%= f.select :feature, Spot.features.keys, {} %><br>
				<%= f.label :駐車場 %>
				<%= f.select :parking, Spot.parkings.keys, {} %><br>
				<%= f.submit "追加", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>