<h1>About#about</h1>
<p>Find me in app/views/about/about.html.erb</p>
<p>
	最高気温 : <%= @temp_max %>
</p>
<p>
	最低気温 : <%= @temp_min %>
</p>
<p>
	風 : <%= @wind %>
<p>
	風向き : 
	<% if @wind_deg != nil %>
		<% if 350 < @wind_deg || (@wind_deg != 0 && @wind_deg < 10) %>
			<%= image_tag 'north.png', :size => "50x50" %>
		<% elsif 10 <= @wind_deg && @wind_deg <= 80 %>
			<%= image_tag 'north_east.png', :size => "50x50" %>
		<% elsif 80 < @wind_deg && @wind_deg < 100 %>
			<%= image_tag 'east', :size => "50x50" %>
		<% elsif 100 <= @wind_deg && @wind_deg <= 170 %>
			<%= image_tag 'south_east.png', :size => "50x50" %>
		<% elsif 170 < @wind_deg && @wind_deg < 190 %>
			<%= image_tag 'south.png', :size => "50x50" %>
		<% elsif 190 <= @wind_deg && @wind_deg <= 260%>
			<%= image_tag 'south_west.png', :size => "50x50" %>
		<% elsif 260 < @wind_deg && @wind_deg < 280 %>
			<%= image_tag 'west.png', :size => "50x50" %>
		<% elsif 280 <= @wind_deg && @wind_deg <= 350 %>
			<%= image_tag 'north_west.png', :size => "50x50" %>
		<% else %>
			<%= image_tag 'no_image.png', :size => "50x50" %>
		<% end %>
	<% end %>
</p>
<p>
	日の出 : <%= Time.at(@sunrise) %>
</p>
<p>
	日の入り : <%= @sunset %>
</p>