<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>プロフィール	</h1>
			<table>
				<thead>
					<tr>
						<th>ユーザーネーム</th>
						<th>性 名</th>
						<th>メールアドレス</th>
						<th>レベル</th>
						<th>有効</th>
						<th>id</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<p><%= @user.user_name %></p>
							<p><%= attachment_image_tag @user, :user_image, fallback: "no-image.png", :size => "70x70" %></p>
						</td>
						<td><%= @user.last_name %> <%= @user.first_name %></td>
						<td><%= @user.email %></td>
						<td><%= @user.level %></td>
						<td><%= @user.is_active %></td>
						<td><%= @user.id %></td>
					</tr>
				</tbody>
			</table>
			<%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary" %>
			<%= link_to "退会する", users_confirm_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>