<div class="footer-login container">
	<div class="row">
		<div class="footer-top col-sm-12">
			<div class="logo">
				<%= link_to root_path do %>
	      	<img src="<%= asset_path "LogoWhite.png" %>" width="200" height="65">
	    	<% end %>
    	</div>
    	<div class="menu">
    		<p><%= link_to "波情報", reports_path, :style=>"color:#fff;" %></p>
				<p><%= link_to "波予報", forecasts_path, :style=>"color:#fff;" %></p>
				<p><%= link_to "サーフショップ", shops_path, :style=>"color:#fff;" %></p>
				<p><%= link_to "サーフスポット", spots_path, :style=>"color:#fff;" %></p>
				<p><%= link_to "エリア", areas_path, :style=>"color:#fff;" %></p>
				<p><%= link_to "アバウト", about_path, :style=>"color:#fff;" %></p>
			</div>
			<div class="sns">
				<h4>FOLLOW US ON</h4>
				<i class="fab fa-facebook-f fa-2x"></i>
				<i class="fab fa-instagram fa-2x"></i>
				<i class="fab fa-twitter fa-2x"></i>
				<i class="fab fa-youtube fa-2x"></i>
				<h4>INSTALL OUR APPS</h4>
				<i class="fab fa-apple fa-2x"></i>
				<i class="fab fa-google-play fa-2x"></i>
			</div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<span class="footer-text">©WaveWatch INC. All Rights Reserved. </span>
</div>