<div class="header-login">
  <div class="header-login-logo">
    <%= link_to root_path do %>
      <img src="<%= asset_path "LogoWhite.png" %>" width="200" height="65">
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div id="icon-contents">
      <div id="tab">
        <div><%= link_to "マイページ（ユーザー）", user_path(current_user) %></div>
        <div><%= link_to "波情報投稿", new_report_path %></div>
        <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
      </div>
    </div>
    <div id="icon">
      <a class="trigger" href="#" >
        <%= attachment_image_tag current_user, :user_image, fallback: "no-profile-img.png", :size => "50x50", class: "user-img" %>
      </a>
    </div>
  <% elsif local_signed_in? %>
    <div id="icon-contents">
      <div id="tab">
        <div><%= link_to "マイページ（ローカル）", local_path(current_local) %></div>
        <div><%= link_to "波予報投稿", new_forecast_path %></div>
        <div><%= link_to "ログアウト", destroy_local_session_path, method: :delete %></div>
      </div>
    </div>
    <div id="icon">
      <a class="trigger" href="#" >
        <%= attachment_image_tag current_local, :local_image, fallback: "no-profile-img.png", :size => "50x50", class: "user-img" %>
      </a>
    </div>
<% end %>
  <script>
    $('#icon-contents #tab').hide();
    $('#icon a').on('click', function() {
      $(this).toggleClass('active');
      $('#icon-contents #tab').fadeToggle();
    return false;
    });
  </script>
</diV>