<div class="header">
  <div class="header-logo">
    <%= link_to root_path do %>
      <img src="<%= asset_path "Logo/Logo.png" %>" width="200" height="65">
    <% end %>
  </div>
  <div id="icon-contents">
    <div id="tab">
      <div><%= link_to "ユーザーログイン", user_session_path, :style=>"color:#808080;" %></div>
      <div><%= link_to "ローカルログイン", local_session_path, :style=>"color:#808080;" %></div>
      <div><%= link_to "管理者", admin_session_path, :style=>"color:#808080;" %></div>
    </div>
  </div>
  <div id="icon">
    <a class="trigger" href="#" >
      <img src="<%= asset_path "no-profile-img.png" %>" width="50" height="50" class="user-img">
    </a>
  </div>
  <script>
    $('#icon-contents #tab').hide();
    $('#icon a').on('click', function() {
      $(this).toggleClass('active');
      $('#icon-contents #tab').fadeToggle();
    return false;
    });
  </script>
</diV>