<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "トップ", root_path %>
      <%= link_to "アバウト", about_path %>
      <%= link_to "マイページ（ユーザー）", user_path(current_user) %>
      <%= link_to "波情報投稿", new_report_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
      <%= current_user.first_name %>
    <% elsif local_signed_in? %>
      <%= link_to "トップ", root_path %>
      <%= link_to "アバウト", about_path %>
      <%= link_to "マイページ（ローカル）", local_path(current_local) %>
      <%= link_to "波予報投稿", new_forecast_path %>
      <%= link_to "ログアウト", destroy_local_session_path, method: :delete, class: "btn btn-default" %>
      <%= current_local.first_name %>
    <% elsif admin_signed_in? %>
      <%= link_to "トップ", admin_path %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default" %>
    <% else %>
      <%= link_to "ユーザーの方", user_session_path %>
      <%= link_to "ローカルの方", local_session_path %>
      <%= link_to "管理者の方", admin_session_path  %>
    <% end %>
    <%= yield %>
  </body>
</html>
