<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= current_user.id %>
      <%= current_user.user_name %>
      <%= current_user.first_name %>
      <%= current_user.last_name %>
      <%= current_user.level %>
      <%= current_user.is_active %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
    <% elsif local_signed_in? %>
      <%= current_local.id %>
      <%= current_local.user_name %>
      <%= current_local.first_name %>
      <%= current_local.last_name %>
      <%= current_local.level %>
      <%= current_local.is_active %>
      <%= link_to "ログアウト", destroy_local_session_path, method: :delete, class: "btn btn-default" %>
    <% elsif admin_signed_in? %>
      <%= "アドミンログイン成功" %>
      <%= current_admin.id %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default" %>
    <% end %>
    <%= yield %>
  </body>
</html>
