<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-top">
      <diV>
        <img src="<%= asset_path "Logo.png" %>" width="200" height="65">
      </div>

      <div id="tab-menu">
        <a class="trigger" href="#" >
          <img src="<%= asset_path "no-profile-img.png" %>" width="50" height="50">
        </a>
      </div>

      <div id="tab-contents">
        <div id="tab">
          <p>TAB1のテキストが入ります。</p>
        </div>
      </div>

      <script>
        $('#tab-contents #tab').hide();
        $('#tab-menu a').on('click', function() {
          $(this).toggleClass('active');
          $('#tab-contents #tab').fadeToggle();
        return false;
        });
      </script>
    </diV>
    <div class="header-bottom">
      <% if user_signed_in? %>
        <div><%= link_to "トップ", root_path, class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "アバウト", about_path, class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "マイページ（ユーザー）", user_path(current_user), class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "波情報投稿", new_report_path, class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "ショップ一覧", shops_path, class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "スポット検索", areas_path, class: "btn btn-default btn-user-lo" %></div>
        <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default btn-user-lo" %></div>
      <% elsif local_signed_in? %>
        <div><%= link_to "トップ", root_path, class: "btn btn-default btn-local-lo" %></div>
        <div><%= link_to "アバウト", about_path, class: "btn btn-default btn-local-lo" %></div>
        <div><%= link_to "マイページ（ローカル）", local_path(current_local), class: "btn btn-default  btn-local-lo" %></div>
        <div><%= link_to "波予報投稿", new_forecast_path, class: "btn btn-default btn-local-lo" %></div>
        <div><%= link_to "ショップ一覧", shops_path, class: "btn btn-default btn-local-lo" %></div>
        <div><%= link_to "スポット検索", areas_path, class: "btn btn-default btn-local-lo" %></div>
        <div><%= link_to "ログアウト", destroy_local_session_path, method: :delete, class: "btn btn-default btn-local-lo" %></div>
      <% elsif admin_signed_in? %>
        <div><%= link_to "トップ", admin_path, class: "btn btn-default btn-admin-lo"  %></div>
        <div><%= link_to "ユーザー", admin_users_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "ローカル", admin_locals_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "波情報", admin_reports_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "波予報", admin_forecasts_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "ショップ", admin_shops_path, class: "btn btn-default btn-admin-lo"  %></div>
        <div><%= link_to "スポット", admin_spots_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "エリア", admin_areas_path, class: "btn btn-default btn-admin-lo" %></div>
        <div><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default btn-admin-lo"  %></div>
      <% else %>
        <div><%= link_to "トップ", root_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "アバウト", about_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "ショップ一覧", shops_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "スポット検索", areas_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "ユーザーの方", user_session_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "ローカルの方", local_session_path, class: "btn btn-default btn-lo" %></div>
        <div><%= link_to "管理者の方", admin_session_path, class: "btn btn-default btn-lo" %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
